@use "./../../../../styles/utils/vars";

.activityGraph {
  background-color: vars.$col-graph-bg;
  border-radius: 5px;

  &Title {
    position: absolute;
    margin-block-start: vars.$space-S;
    margin-inline-start: vars.$space-S;
  }
}