@use './../../styles/utils/vars';

.dashboard {
  // so that the dashboard occupies the full available height
  height: 100%;
  padding-inline: clamp(1.5rem, -0.3333rem + 8.1481vw, 7rem);
  padding-block: clamp(1rem, 0.0000rem + 4.4444vw, 4rem);

  display: flex;
  flex-direction: column;
  gap: 77px;

  &__graphsAndEnergy__container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: vars.$space-M;
  }

  &__graphs {
    display: grid;
    grid-template-columns: minmax(min(835px, 100%), 1fr);
    grid-template-rows: min(320px, 100%) auto;
    gap: vars.$space-M;
  }

  &__graphs__row2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    gap: vars.$space-M;
  }
}