@use './../../styles/utils/vars';

.sidebar {
  position: relative;
  min-width: vars.$size-sidebarWidth;
  background-color: vars.$col-nav-bg-black;
  padding: vars.$space-XS vars.$space-S;
  // Centers the menu vertically on the page
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  @media screen and (max-width: 1200px) {
    justify-content: flex-start;
  }

    &__menu {
      // menu items vertically positionned
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: vars.$space-S;
      
      background-color: vars.$col-nav-bg-black;
      padding-inline-start: 0;

      @media screen and (max-width: 1200px) {
        margin-block-start: 220px;
      }

      &>li {
        width: 64px;
        height: 64px;
      }

      &>li>a {
          color: vars.$col-white;
      }
    }

    .copyright {
      transform: rotate(-90deg);
      color: vars.$col-white;
      position: absolute;
      bottom: 100px;
      width: max-content;
      font-size: vars.$fsize-12px;
    }
}